@using SlideIGWebRetry.Models
@model ScenarioModel

@{
    ViewBag.Title = "Details";
    ViewBag.test = (string)Session["MyValue"];
}
<html>
<head>
    <script src="~/Scripts/jquery-3.6.4.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Scripts/bootstrap.min.css">
    <script src="~/Scripts/popper.js"></script>
    <link href="~/Scripts/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>

</head>
<body>
    @if (Model != null)
    {
    <div>
        <div class="container">
            @if (@Model.ScenarioInfoId != null)
            {
                <div class="row justify-content-between">
                    <a id="previousSc-Button" class="btn btn-light">
                        <img src="~/Content/Images/previous-arrow.png" style="width:20px" alt="Edit">
                    </a>
                    <a id="nextSc-Button" class="btn btn-light">
                        <img src="~/Content/Images/next-arrow.png" style="width:20px" alt="Edit">
                    </a>
                </div>
                <div class="row">
                    <div class="">
                        <div class="dropdown px-4 pb-4 input-group-append">
                            <h6 class="dropdown-header">Scenarios</h6>

                            @if (ViewBag.listScenarios != null)
                            {
                                <select id="scenario-select" class="form-select form-control" onchange="location = this.value;">
                                    @for (int i = 0; i < ViewBag.listScenarios.Count; i++)
                                    {
                                        <option value="@Url.RouteUrl(new { controller = "details", action = "Index", id = ViewBag.listScenarios[i].Id, type = ViewBag.listScenarios[i].Type, lang = ViewBag.listScenarios[i].Language })"
                                                @if (ViewBag.listScenarios[i].Id == Model.Id && ViewBag.listScenarios[i].Type == Model.Type && ViewBag.listScenarios[i].Language == Model.Language) { <text> selected</text> }>
                                            @ViewBag.listScenarios[i].Scenario_number - @ViewBag.listScenarios[i].Level_name (@ViewBag.listScenarios[i].Language, @ViewBag.listScenarios[i].Type))
                                        </option>
                                    }
                                </select>


                                <div >
                                    <button class="btn btn-outline-primary dropdown-toggle py-0 px-2" type="button"
                                            id="dropdownMenu1" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                        <span class="">Filter</span>
                                    </button>
                                        <ul class="dropdown-menu checkbox-menu allow-focus p-3 border-info" aria-labelledby="dropdownMenu1">
                                            <li>
                                                Key Word
                                                <input id="searchKeyWord" type="text" />
                                            </li>
                                            Language
                                            @foreach (var lang in ViewBag.listLang)
                                            {
                                                <li id="language">
                                                    <label>
                                                        <input type="checkbox" value="@lang.Value" >@lang.Value
                                                    </label>
                                                </li>
                                            }
                                            Type
                                            @foreach (var type in ViewBag.listType)
                                            {
                                                <li id="type">
                                                    <label>
                                                        <input type="checkbox" value="@type.Value">@type.Value
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                </div>
                            }
                        </div>

                    </div>
                    <div class="col input-group-append justify-content-end align-content-end mr-3">
                        <div class="col-1" title="Edit this scenario">
                            <a href="@Url.RouteUrl(new { controller = "edit", action = "Index", id = Model.Id, type = Model.Type, lang = Model.Language })" class="btn btn-outline-light mb-3">
                                <img src="~/Content/Images/edit.png" style="width:25px" alt="Edit">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex-column flex-md-row justify-content-center align-content-center">
                    @if (Model.SlideList != null)
                    {
                        <div class="row-md-6">
                            <div class="table-responsive w-100">
                                <table border="1" cellpadding="0" cellspacing="0" class="w-100">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="p-2">
                                                    <div class="input-group-append">
                                                        @if (Model.Language == "es")
                                                        {
                                                            <p class="lessonHeader">Lección: @Model.Scenario_number</p>

                                                        }
                                                        else if (Model.Language == "fr")
                                                        {
                                                            <p class="lessonHeader">Leçon: @Model.Scenario_number</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="lessonHeader">Lesson: @Model.Scenario_number</p>
                                                        }
                                                        <p class="mx-1">-</p>
                                                        <p id="text-InfoTitle-@Model.ScenarioInfoId">@Model.Level_name</p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="p-2">
                                                    @foreach (var o in Model.SlideList)
                                                    {
                                                        <p>@Html.Raw(o.Name)</p>
                                                        if (o.Subtitles.Count != 0)
                                                        {
                                                            foreach (var k in o.Subtitles)
                                                            {
                                                                <ul>
                                                                    <li class="bullet-custom @k.BulletType">
                                                                        @Html.Raw(k.Name)
                                                                        @if (k.Bullets.Count != 0)
                                                                        {
                                                                            <ul class="">
                                                                                @foreach (var u in k.Bullets)
                                                                                {
                                                                                    <li class="bullet-custom @u.BulletType">@Html.Raw(u.Name)</li>
                                                                                }
                                                                            </ul>
                                                                        }
                                                                    </li>
                                                                </ul>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <table border="1" cellpadding="0" cellspacing="0" class="w-100">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="pt-1 px-3">
                                            @if (Model.Language == "en")
                                            {
                                                <p class="lessonHeader"><strong>Lesson: @Model.Scenario_number - @Model.Level_name</strong></p>
                                            }
                                            else
                                            {
                                                <p class="lessonHeader"><strong>Hohoo: @Model.Scenario_number - @Model.Level_name</strong></p>
                                            }
                                            @if (Model.ScenarioSlideId != null)
                                            {
                                                <h6 class="alert-light">Empty Slide</h6>
                                            }
                                            else
                                            {
                                                <h6 class="alert-light">No Slide</h6>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    @if (Model.IGList != null)
                    {
                        <div class="row-md-6 mt-1 w-100">
                            <div class="d-flex justify-content-between px-2" style="background-color: #b2c4e4">
                                @if (Model.Language == "es")
                                {
                                    <p class="lessonHeader">Lección: @Model.Scenario_number</p>

                                }
                                else if (Model.Language == "fr")
                                {
                                    <p class="lessonHeader">Leçon: @Model.Scenario_number</p>
                                }
                                else
                                {
                                    <p class="lessonHeader">Lesson: @Model.Scenario_number</p>
                                }
                                <p class=""><strong>@Model.Level_name.ToString()</strong></p>
                            </div>
                            @foreach (var i in @Model.IGList)
                            {
                                <p>@Html.Raw(@i.Name)</p>
                                if (i.Subtitles.Count != 0)
                                {
                                    foreach (var j in i.Subtitles)
                                    {
                                        <ul>
                                            <li class="bullet-custom @j.BulletType">
                                                @Html.Raw(j.Name)
                                                @if (j.Bullets.Count != 0)
                                                {
                                                    <ul>
                                                        @foreach (var v in j.Bullets)
                                                        {
                                                            <li class="bullet-custom @v.BulletType">@Html.Raw(v.Name)</li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        </ul>
                                    }
                                }
                                <hr class="border-dark" />
                            }
                        </div>
                    }
                    else
                    {
                        <div class="row-md-6 mt-1 w-100">
                            <div class="d-flex justify-content-between px-2" style="background-color: #b2c4e4">
                                @if (Model.Language == "es")
                                {
                                    <p class="lessonHeader">Lección: @Model.Scenario_number</p>

                                }
                                else if (Model.Language == "fr")
                                {
                                    <p class="lessonHeader">Leçon: @Model.Scenario_number</p>
                                }
                                else
                                {
                                    <p class="lessonHeader">Lesson: @Model.Scenario_number</p>
                                }
                                <p class=""><strong>@Model.Level_name</strong></p>
                            </div>
                            @if (Model.ScenarioIGId != null)
                            {
                                <h6 class="alert-light pt-1 px-3">Empty IG</h6>
                            }
                            else
                            {
                                <h6 class="alert-light pt-1 px-3">No IG</h6>
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="container">
                    <div class="row">
                        <div class="col-8 input-group-append">
                            <div class="col-1 mr-3">
                                <div id="newScButton" class="btn btn-outline-light" title="New scenario">
                                    <img src="~/Content/Images/new.png" style="width:25px" alt="New">
                                </div>
                                <div class="modal fade" id="NewScenarioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">New scenario</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="input-group-append justify-content-center align-content-center" id="newScList">
                                                    <button id="BlankAsNewButton" class="btn btn-outline-info w-25 ml-2">Blank</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="dropdown px-4 pb-4 input-group-append">
                                    <h6 class="dropdown-header">Scenarios</h6>

                                    <select id="scenario-select" class="form-select form-control" onchange="location = this.value;">
                                        @foreach (var i in ViewBag.listScenarios)
                                        {
                                            <option value="@Url.RouteUrl(new { controller = "details", action = "Index", id = i.Id, type = i.Type, lang = i.Language })"
                                                    @if (i.Id == Model.Id && i.Type == Model.Type && i.Language == Model.Language) { <text> selected</text> }>
                                                @i.Scenario_number - @i.Level_name (@i.Language, @i.Type)
                                            </option>
                                        }
                                    </select>

                                    <div class="dropdown ml-2">
                                        <button class="btn btn-outline-primary dropdown-toggle py-0 px-2" type="button"
                                                id="dropdownMenu1" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="true">
                                            <span class="">Filter</span>
                                        </button>
                                        <ul class="dropdown-menu checkbox-menu allow-focus p-3 border-info" aria-labelledby="dropdownMenu1">
                                            Key Word
                                            <input id="searchKeyWord" type="text" />

                                            Language
                                            @foreach (var lang in ViewBag.listLang)
                                            {
                                                <li id="language">
                                                    <label>
                                                        <input type="checkbox" value="@lang.Value" >@lang.Value
                                                    </label>
                                                </li>
                                                
                                            }

                                            Type
                                            @foreach (var type in ViewBag.listType)
                                            {
                                                <li id="type">
                                                    <label>
                                                        <input type="checkbox" value="@type.Value" >@type.Value
                                                    </label>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="row m-2">The scenario does not exist</h1>
                </div>
            }
        </div>
    </div>
        } else {
                <div class="container ml-3">
                    <div class="row">
                        <div class="col-8 input-group-append">
                            <div class="col-1 mr-3">
                                <div id="newScButton" class="btn btn-outline-light" title="New scenario">
                                    <img src="~/Content/Images/new.png" style="width:25px" alt="New">
                                </div>
                                <div class="modal fade" id="NewScenarioModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">New scenario</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="input-group-append justify-content-center align-content-center" id="newScList">
                                                    <button id="BlankAsNewButton" class="btn btn-outline-info w-25 ml-2">Blank</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="dropdown px-4 pb-4 input-group-append">
                                    <h6 class="dropdown-header">Scenarios</h6>
                                    @if (ViewBag.listScenarios != null)
                                    {
                                        <select id="scenario-select" class="form-select form-control" onchange="location = this.value;">
                                            @foreach (var i in ViewBag.listScenarios)
                                            {
                                                <option value="@Url.RouteUrl(new { controller = "details", action = "Index", id = i.Id, type = i.Type, lang = i.Language })">
                                                    @i.Scenario_number - @i.Level_name (@i.Language, @i.Type)
                                                </option>
                                            }
                                        </select>

                                        <div class="dropdown ml-2">
                                            <button class="btn btn-outline-primary dropdown-toggle py-0 px-2" type="button"
                                                    id="dropdownMenu1" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="true">
                                                <span class="">Filter</span>
                                            </button>
                                            <ul class="dropdown-menu checkbox-menu allow-focus p-3 border-info" aria-labelledby="dropdownMenu1">
                                                Key Word
                                                <input id="searchKeyWord" type="text" />

                                                Language
                                                @foreach (var lang in ViewBag.listLang)
                                                {
                                                    <li id="language">
                                                        <label>
                                                            <input type="checkbox" value="@lang.Value" >@lang.Value
                                                        </label>
                                                    </li>
                                                }

                                                Type
                                                @foreach (var type in ViewBag.listType)
                                                {
                                                    <li id="type">
                                                        <label>
                                                            <input type="checkbox" value="@type.Value">@type.Value
                                                        </label>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="row m-2">The scenario does not exist</h1>
                </div>
           }
</body>
</html>

<script>
    // get id, language and type for later 
    let indexOfSelection = 1;

    let selectedValue = {
        id: "",
        text: ""
    };
    document.onkeydown = function (e) {
        switch (e.which) {
            case 37: // left
                console.log("LEFT")
                var selectedIndex = $('#scenario-select').prop('selectedIndex');
                console.log(selectedIndex)
                $('#scenario-select').prop('selectedIndex', selectedIndex - 1);
                $('#scenario-select').trigger('change');
                break;

            case 39: // right
                console.log("RIGHT")
                var selectedIndex = $('#scenario-select').prop('selectedIndex');
                console.log(selectedIndex)
                $('#scenario-select').prop('selectedIndex', selectedIndex + 1);
                $('#scenario-select').trigger('change');
                break;

            default: return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
    };
    $(document).ready(function () {

        $(".checkbox-menu input[type='checkbox']").each(function () {
            if ($(this).closest("li").attr("id") == "type") {
                if (getUrlParams("selectedType") == $(this).val()) {
                    $(this).prop('checked', true); 
                }
            }
            if ($(this).closest("li").attr("id") == "language") {
                if (getUrlParams("selectedLang") == $(this).val()) {
                    $(this).prop('checked', true);
                }
            }
        });

        var nextSlide = getNextSlide(1);
        if (nextSlide == "") {
            $('#nextSc-Button').attr('href', window.location.href);
        } else {
            $('#nextSc-Button').attr('href', `http://${window.location.host}/${nextSlide}`);
        }

        var prevSlide = getNextSlide(-1);
        if (prevSlide == "") {
            $('#previousSc-Button').attr('href', window.location.href);
        } else {
            $('#previousSc-Button').attr('href', `http://${window.location.host}/${prevSlide}`);
        }
       
    });


    $(".checkbox-menu").on("change", "input[type='checkbox']", async function () {
        $(this).closest("li").toggleClass("active", this.checked);
        addOrUpdateParameter();

        var nextSlide = getNextSlide(1);
        if (nextSlide == "") {
            $('#nextSc-Button').attr('href', window.location.href);
        } else {
            $('#nextSc-Button').attr('href', `http://${window.location.host}/${nextSlide}`);
        }

        var prevSlide = getNextSlide(-1);
        if (prevSlide == "") {
            $('#previousSc-Button').attr('href', window.location.href);
        } else {
            $('#previousSc-Button').attr('href', `http://${window.location.host}/${prevSlide}`);
        }

    });

    $("#newScButton").click(function () {
        $('#NewScenarioModal').modal('show')
    });
    $("#CopyAsNewButton").click(function () {
        console.log("CopyAsNewButton")
        var ScenarioInfoId = $(this).attr("data-ScenarioInfoId")
        var lang = $(this).attr("data-lang")
        var type = $(this).attr("data-type")
        window.location.href = `/newcopy/${ScenarioInfoId}/${type}/${lang}`
    });
    $("#BlankAsNewButton").click(function () {
        window.location.href = "/newblank"
    });

    $("#newScButtonSame").click(function () {
        if ($("#newScListSame").is(":visible")) {
            $("#newScListSame").hide();
        } else {
            $("#newScListSame").show();
        }
    });
    $("#CopyAsNewButtonSame").click(function () {
        console.log("CopyAsNewButton")
        var ScenarioInfoId = $(this).attr("data-ScenarioInfoId")
        var lang = $(this).attr("data-lang")
        var type = $(this).attr("data-type")
        window.location.href = `/newcopy/${ScenarioInfoId}/${type}/${lang}`
    });
    $("#BlankAsNewButtonSame").click(function () {
        window.location.href = "/newblank"
    });

    $("#DeleteButton").click(function () {
        $('#DeleteScModal').modal('show');
    });
    $("#DeleteButtonContinue").click(function () {
        var ScenarioInfoId = $(this).attr("data-ScenarioInfoId")
        $.ajax({
            url: `/api/ScenarioInfoes/${ScenarioInfoId}/vs600/fr`,
            type: "DELETE",
            success: function (data) {
                console.log("success")
                console.log(data)
                location.reload();
                //window.location.href = "/home"
            },
            error: function (xhr, status, error) {
                console.log("error")
                console.log(error)
            }
        })
    });

    $("#AddLanguageButton").click(function () {
        $("#AddLanguageModal").modal('show')
        $('#alert-add-language-exists').hide()
        $('#alert-add-language').hide()
    });

    $("#AddLanguageAdd").click(function () {
        var languagecomputed = $("#AddLanguageText").val()
        console.log(languagecomputed)
        if (languagecomputed.trim() != "") {
            $("#AddLanguageInputs").hide()
            $.ajax({
                url: `/api/Languages/id/vs600/fr`,
                type: "POST",
                data: {
                    LanguageCode: languagecomputed
                },
                success: function (data) {
                    console.log("success")
                    console.log(data)
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log("error")
                    console.log(error)
                    $("#AddLanguageInputs").show()
                    $('#alert-add-language-exists').show()
                    $('#alert-add-language').hide()
                }
            })
        } else {
            $('#alert-add-language-exists').hide()
            $('#alert-add-language').show()
        }
    });

    $("#ApplyAllLanguages").click(function () {
        $('#ApplyAllLanguagesModal').modal('show')
    });

    $("#ApplyAllLanguagesAdd").click(function () {
        var id = $(this).attr("data-id")
        var scenarioNumber = $(this).attr("data-scenarioNumber")
        var language = $(this).attr("data-language")
        var type = $(this).attr("data-type")
        var lvlname = $(this).attr("data-lvlname")
        $("#ApplyAllLanguagesInputs").hide()
        $("#ApplyAllLanguages").show()
        $.ajax({
            url: `/api/APIScenario/FullCopy/${id}/${type}/${language}`,
            type: "POST",
            data: {
                id: id,
                scenarioNumber: scenarioNumber,
                language: language,
                type: type,
                levelName: lvlname,
                slide: true,
                ig: true,
                applyToAllLanguages: true
            },
            success: function (data) {
                console.log("success")
                console.log(data)
                location.reload();
            },
            error: function (xhr, status, error) {
                console.log("error")
                console.log(error)
                location.reload();
            }
        })
    });

    // get next aslide according to checked options
    function getNextSlide(forwardOrBackward) {
        var selectedIndex = $("#scenario-select").prop("selectedIndex");
        var newSearch = $("#searchKeyWord").val();
        var checkedValuesTypes = [];
        var checkedValuesLanguages = [];
        $(".checkbox-menu input[type='checkbox']:checked").each(function () {
            if ($(this).closest("li").attr("id") == "type") {
                checkedValuesTypes.push($(this).val());
            }
            if ($(this).closest("li").attr("id") == "language") {
                checkedValuesLanguages.push($(this).val());
            }
        });

        // add all types to array if no type is selected
        if (checkedValuesTypes.length == 0) {
            $(".checkbox-menu input[type='checkbox']").each(function () {
                if ($(this).closest("li").attr("id") == "type") {
                    checkedValuesTypes.push($(this).val());
                }
            });
        }
        // add all languages to array if no language is selected
        if (checkedValuesLanguages.length == 0) {
            $(".checkbox-menu input[type='checkbox']").each(function () {
                if ($(this).closest("li").attr("id") == "language") {
                    checkedValuesLanguages.push($(this).val());
                }
            });
        }
        var selectedLanguage = "";
        var selectedType = "";
        var selectedId = "";
        if (forwardOrBackward > 0) {
            for (let i = selectedIndex + 1; i < $("#scenario-select option").length; i++) {
                var optionValue = $("#scenario-select option").eq(i).val();
                var id = optionValue.substring(optionValue.lastIndexOf('/') + 1, optionValue.indexOf('?'));
                var lang = optionValue.substring(optionValue.lastIndexOf("=") + 1);
                var type = optionValue.substring(optionValue.indexOf("=") + 1, optionValue.indexOf("&"));
                if (checkedValuesTypes.indexOf(type) != -1 && checkedValuesLanguages.indexOf(lang) != -1 && optionValue.includes(newSearch)) {
                    selectedLanguage = lang;
                    selectedType = type;
                    selectedId = id;
                    break;
                }
            }
        } else {
            for (let i = selectedIndex-1; i >= 0; i --) {
                var optionValue = $("#scenario-select option").eq(i).val();
                var id = optionValue.substring(optionValue.lastIndexOf('/') + 1, optionValue.indexOf('?'));
                var lang = optionValue.substring(optionValue.lastIndexOf("=") + 1);
                var type = optionValue.substring(optionValue.indexOf("=") + 1, optionValue.indexOf("&"));
                if (checkedValuesTypes.indexOf(type) != -1 && checkedValuesLanguages.indexOf(lang) != -1 && optionValue.includes(newSearch)) {
                    selectedLanguage = lang;
                    selectedType = type;
                    selectedId = id;
                    break;
                }
            }
        }
        if (selectedId == "" || selectedType == "" || selectedLanguage == "") {
            return "";
        }
        var url = `details/index/${selectedId}?type=${selectedType}&lang=${selectedLanguage}`;
        if (checkedValuesTypes.length == 1) {
            url += `&selectedType=${checkedValuesTypes[0]}`;
        }
        if (checkedValuesLanguages.length == 1) {
            url += `&selectedLang=${checkedValuesLanguages[0]}`;
        }
        return url;
    }
    //updated url parameters selectedLang and selectedType based on filters in order to
    //preserve filters on the next page
    function addOrUpdateParameter() {
        // Get the current URL parameters
        var urlParams = new URLSearchParams(window.location.search);

        urlParams.delete("selectedLang");
        urlParams.delete("selectedType");

        $(".checkbox-menu input[type='checkbox']:checked").each(function () {
            if ($(this).closest("li").attr("id") == "type") {
                urlParams.set("selectedType", $(this).val());
            }
            if ($(this).closest("li").attr("id") == "language") {
                urlParams.set("selectedLang", $(this).val());
            }
        });
        // Add or update a parameter
        var newUrl = window.location.pathname + '?' + urlParams.toString();
        window.history.replaceState({}, '', newUrl);
    }

    $(document).on('click', '.allow-focus', function (e) {
        e.stopPropagation();
    });

    $('#scenario-select').select2({
        minimumResultsForSearch: -1,
        minimumInputLength: 0, // minimum number of characters before a search is performed
        placeholder: 'Search for a scenario',
        language: {
            searching: function () { return 'Searching...' },
            noResults: function () { return 'No results found' },
            /*inputTooShort: function () { return 'Please enter at least 1 characters' },*/
        },
        escapeMarkup: function (markup) { return markup; }, // allows HTML in the results
        templateResult: function (data) { return data.text; }, // use the "text" property of each data object as the result
        ajax: {
            url: `/api/APIScenario/all`, // URL to the search action method
            dataType: 'json',
            delay: 250, // delay before sending the request (in milliseconds)
            data: function (params) { // function to set the request parameters
                var newSearch = $("#searchKeyWord").val()
                var checkedValuesTypes = [];
                var checkedValuesLanguages = [];
                $(".checkbox-menu input[type='checkbox']:checked").each(function () {
                    if ($(this).closest("li").attr("id") == "type") {
                        checkedValuesTypes.push($(this).val());
                    }
                    if ($(this).closest("li").attr("id") == "language") {
                        checkedValuesLanguages.push($(this).val());
                    }
                });
                return {
                    searchTerm: newSearch, // search term entered by the user
                    languages: checkedValuesLanguages.length == 0 ? "" : checkedValuesLanguages.join(','),
                    types: checkedValuesTypes.length == 0 ? "" : checkedValuesTypes.join(',')
                };
            },
            processResults: function (data) { // function to process the search results
                // update the select element with the new options
                
                return {
                    results: data.ScenariosList.map(function (item, index) {
                        return {
                            id: `${item.Id}?type=${item.Type}&lang=${item.Language}`,
                            text: `${item.Scenario_number} - ${item.Level_name} (${item.Language}, ${item.Type})`
                        };
                    })
                };
            },
            cache: true // enable caching of search results
        },
    });
   
    function getUrlPathParam() {
        var path = window.location.href;
        var id = path.substring(path.lastIndexOf('/') + 1, path.indexOf('?'));
        return id;
    }
    function getUrlParams(key) {
        // Get the query string from the URL
        var queryString = window.location.search;

        // Create a URLSearchParams object
        var searchParams = new URLSearchParams(queryString);

        // Create an object to store the parameters
        var params = {};

        return searchParams.get(key);
    }

</script>

<style>

    .form-select {
        transition: all 0.5s ease-in-out;
    }

    .form-select:focus {
        border-color: rgb(0 148 255);
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .vsmall {
        font-size: 10px;
    }

    .checkbox-menu li label {
        display: block;
        padding: 3px 10px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
        margin: 0;
        transition: background-color .4s ease;
    }

    .checkbox-menu li input {
        margin: 0px 5px;
        top: 2px;
        position: relative;
    }

    .checkbox-menu li.active label {
        background-color: #cbcbff;
        font-weight: bold;
    }

    .checkbox-menu li label:hover,
    .checkbox-menu li label:focus {
        background-color: #f5f5f5;
    }

    .checkbox-menu li.active label:hover,
    .checkbox-menu li.active label:focus {
        background-color: #b8b8ff;
    }

    .bullet-custom {
        list-style: none;
    }

    .bullet-arrow:before {
        content: "\27A2";
        margin-right: 15px;
    }

    .bullet-check:before {
        content: "\2713";
        margin-right: 15px;
        font-weight: bold;
    }

    .bullet-flower:before {
        content: "\1BFD";
        margin-right: 15px;
    }

    .bullet-white:before {
        content: "\25E6";
        margin-right: 15px;
    }

    .bullet-default:before {
        content: "\2022";
        margin-right: 15px;
    }

</style>
